[Unit]
Description=DiyhasClock
After=multi-user.target
[Service]
Type=idle
ExecStart=/usr/bin/python3 /home/an/diyclock/diyclock.py > /home/an/logs/diyclock.log 2>&1
[Install]
WantedBy=multi-user.target

